/* 
-----------------
Reset
----------------- 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
-----------------
general
----------------- 
*/

.flex {
    border: 1px dashed black;
}

body {
    font-family: 'Roboto', sans-serif;
}

header h1, p {
    color: white;
    margin-bottom: 30px;
}

h1, h2 {
    font-size: 40px;
}

p {
    line-height: 1.5em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #23272a;
}

.btn{
    background-color: white;
    padding: 15px 20px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
}

.btn.small {
    font-size: 12px; 
}

.btn.medium {
    font-size: 15px;
}

.black {
    background-color: #23272a;
    color: white;
}

.white {
    color: #23272a;
}

.blue {
    background-color: #7289da;
    color: #fff;
}

.download::before {
    font-family: FontAwesome;
    content: "\f063";
    vertical-align: middle;
    font-size: 17px;
}


/* 
-----------------
header
----------------- 
*/


.header-top {
    background-color: #255ee9;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.navbar > * {
    padding: 10px 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    width: 60%;
}


.nav-item a {
    color: white;
    text-decoration: none;
}

.logo-container, 
.login-container {
    display: flex;
    width: 20%;
}

.logo-container {
    padding-left: 10px;
    align-items: center;
}

.login-container {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.header-bottom {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}


.header-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    width: 60%;
}

.header-main-container .btn {
    display: inline-block;
}

/* 
-----------------
main
----------------- 
*/

main > .row:nth-child(even){
    background-color: #d3d3d3;
    flex-direction: row-reverse;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 60px 0;
}

main .col-mid {
    height: 325px;
}

.col-mid {
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.col-small {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-small h2, p{
    text-align: left;
    color:#23272a;
}

.col-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.col-big h2, p {
    text-align: center;
    width: 70%;
    margin: 20px auto;
}

.col-big .item-img {
    width: 70%;
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.call-to-action {
    width: 35%;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    margin: 0 auto;
}

.call-to-action h3 {
    text-align: center;
}

.col-small h2 {
    margin-bottom: 40px;
}

 #img-1 {
    background-image: url(../img/item1.svg);
} 

#img-2 {
    background-image: url(../img/item2.svg);
}

#img-3 {
    background-image: url(../img/item3.svg);
} 

/*
-----------------
footer
----------------- 
*/

footer {
    background-color: #23272a;
}

footer .col-small {
    justify-content: flex-start;
    padding: 0;
}

footer .col-small > * {
    margin-bottom: 20px;
}

footer .col-small h3 {
    font-size: 30px;
}

.footer-title {
    color: #6573ab;
}

.nation-select img, span {
    max-width: 30px;
    vertical-align: middle;
}

.nation-select span {
    color: #fff;
}

.nation-select span:after{
    font-family: FontAwesome;
    content: '\f078';
    font-size: 10px;
    padding-left: 5px;
}

.social {
    color: #fff;
    font-size: 30px;
    display: flex;
    gap: 30px;
}

footer .col-mid {
    display: flex;
    flex-direction: row;
}

footer ul {
    width: calc(100% / 4 - 20px);
    list-style-type: none; 
}

footer ul li {
    margin-bottom: 20px;
    font-size: 13px;
}

footer ul li a {
    color: white;
}

footer > * {
    border-bottom: 1px solid #6573ab;
}

.footer-top {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 60px;
}


.footer-bottom {
    padding: 60px 0;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}






